body {
    margin: 0px;
}

h1 {
    text-align: center;
}

h5 {
/*
    margin-left: 30px;
    margin-right: 30px;
*/
    font-size: 18px;
}

.card-title {
    color: lightseagreen;
    width: 15rem;
    font-size: 1.5rem;
}


/*
.card-title:hover {
    color: black;
    text-decoration: none;
}
*/

/*
.card-block a:hover {
    color:green;
}
*/

.card-block-product a:hover {
    color:lightseagreen;
/*    text-decoration: none;*/
}

/*
a:hover {
    text-decoration: none !important;
}
*/

.p.card-text {
    color: black;
    width: 15rem;
}

#logo {
    margin-top:8px;
    margin-left:8px;
    width: 400px;
    margin-right:8px;
    margin-bottom:10px;
    opacity: 50%;
}


#footer {
    background-color: lightseagreen;
    padding-top: 10px;
    margin-top: 5px;
    text-align: center;
    padding-bottom: 5px;
    font color: black;
}

#bottomNote {
    text-align: center;
    font color: black;
}

#bottomNote a:link {
    color: lightseagreen;
}

#bottomNote a:visited {
    color: lightseagreen;
}


.pageNote {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 5px;
}



#topbar {
    _width:100px;
    height: 150px;
    background-color:lightseagreen;
}

.nav-link {
    font-size: 20px;
    color: black !important;/*paleturquoise;*/
}
.nav-link.active {
    color: white !important;
}

li.nav-item {
    padding-top: 5px;
}

.nav>li>a:hover {
    background-color: lightseagreen;
    color: paleturquoise !important;
}

.subtitle {
    text-align: center;
    font-size: 200%;
    margin-top: 18px;
    
/*    padding-left: 60px !important;*/
}
.show-name {
    text-align: center;
    font-size: 150%;
    margin-top: 18px;
    color: lightseagreen;

}
.show-desc {
    text-align: center;
    margin-bottom: 5px;
}

.card-block-product {
    padding-top: 1.25rem;
    padding-bottom: 5rem !important;
    padding-left: 0rem !important;
    padding-right: 0rem !important;
}

.card {
    border-style: none !important;
}

.catalog_heading {
  margin-left: 10px !important;
  margin-top: 10px !important;
  opacity: 80%;
}

.pdf_link {
  margin-left: 10px;
  font-size: 1.1em;
  color: rgb(32, 178, 170);
}

.form-group {
  border: 1px solid lightseagreen;
  padding-left: 4px;
  padding-right: 4px;
  padding-bottom: 4px;
  padding-top: 4px;
}

#delete_thumbnail {
  margin-right: 5px;
}

@media (max-width: 500px) {
  #logo {
    width: 85% !important;
  }
}