
h1 {
    text-align: center;
}

h5 {
/*
    margin-left: 30px;
    margin-right: 30px;
*/
    font-size: 18px;
}

.card-title {
    color: lightseagreen;
    width: 15rem;
}
.p.card-text {
    color: black;
    width: 15rem;
}

#logo {
    margin-top:8px;
    width:400px;
    margin-right:8px;
    margin-bottom:10px;
    opacity: 50%;
}


#footer {
    background-color: lightseagreen;
    padding-top: 10px;
    margin-top: 5px;
    text-align: center;
    padding-bottom: 5px;
    font color: black;
}

#footerNote {
    text-align: center;
    font color: black;
}





#topbar {
    _width:100px;
    height: 150px;
    background-color:lightseagreen;
}

.nav-link {
    font-size: 20px;
    color: black !important;/*paleturquoise;*/
}
.nav-link.active {
    color: white !important;
}

li.nav-item {
    padding-top: 5px;
}

.nav>li>a:hover {
    background-color: lightseagreen;
    color: paleturquoise !important;
}

.subtitle {
/*    padding-left: 60px !important;*/
}

.card-block-product {
    padding-top: 1.25rem;
    padding-bottom: 5rem !important;
    padding-left: 0rem !important;
    padding-right: 0rem !important;
}

.card {
    border-style: none !important;
}
